*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Manrope';
    src: url(../fonts/Manrope-ExtraBold.ttf);
}


html{
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    color: hsl(193, 38%, 86%);
}

body{
    height: 800px;
    position: relative;
}

a{
    text-decoration: none;
    color: hsl(150, 100%, 66%);
    cursor: pointer;
}

a:hover{
    color: hsl(193, 38%, 86%);
    text-decoration: underline;
}


#advice_block{
    background-color: hsl(217, 19%, 24%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 10px;
}

#advice_block h1{
    color: hsl(150, 100%, 66%);
    padding-top: 50px;
    font-size: 16px;
}

#advice_block #advice{
    margin: 32px 5%;
    font-size: 28px;
    text-align: center;
}

.attribution{
    text-align: center;
}

.desktop_divider{
    width: 75%;
    height: auto;
    margin-top: 32px;
}


.mobile_divider{
    display: none;
    width: 75%;
    height: auto;
    margin-top: 16px;
}

/* random advice button */
#changeAdvice{
    width: 8%;
    transform: translateY(50%);
    padding: 2%;
    display: flex;
    align-items: center;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    border: 1px solid hsl(150, 100%, 66%);
    cursor: pointer;

}

#changeAdvice:hover{
    background-color: hsl(150, 100%, 75%);
    box-shadow: 0 0 2px 5px hsla(150, 100%, 66%, 0.5);
}

.change_advice_img{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1000px){
    #advice_block{
        width: 75%;
    }
}


@media only screen and (max-width: 768px){
    #advice_block{
        width: 90%;
    }
    #changeAdvice{
        width: 12%;
        padding: 3%;
    }
}


@media only screen and (max-width: 496px){
    #advice_block{
        width: 96%;
    }

    #changeAdvice{
        width: 16%;
        padding: 4%;
    }

    .desktop_divider{
        display: none;
    }

    .mobile_divider{
        display: block;
    }
}
